@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
}

.container {
    width: 1000px;
    margin: 20px auto;
}

.board {
    float:left;
    margin:0 auto;
    width: 50%;
}

.rules {
    margin-top:30px;
    text-align: left;
    clear: both;
    
    font-size: 1em;
}

.rules h2 {
    text-align: left;
}

h2 {
    font-size: 2em;
    text-align: center;
}

table {
    width: 450px;
    height: 450px;
    float:left;
    margin:20px;
}
td {
    border: 1px solid #ffa500;
    border-radius: 50%

}

.ship {
    background-color: #ffa500;
}

.hit {
    background-color: #ff4252;
}

.no-hit {
    background-color: #2f2f2f;
}

footer {
    font-size: 0.8em;
    text-align: center;
}


.alert-container {
    margin: 20px;
}

.alert-container .left,
.alert-container .right {
    float: left;
    width: calc(50% - 20px);
    padding: 10px;
}

.alert {
    padding: 20px;
    background-color: #bbb;
    color: #fff;
    font-size: .9em;
    transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in;
}

.alert.close {
    opacity: 0;
}

.alert.error {
    background-color: #ff7777;
}

.alert.success {
    background-color: #55aa44;
}

.alert .close {
    position: relative;
    float: right;
    color: #ffF;
    font-size: 1.9em;
    text-decoration: none;
    padding: 10px;
    top: -16px;
    right: -10px;
}
